In [1]:
import pandas as pd
import numpy as np

A company has recorded the number of units sold (Units_Sold) and the price per unit (Price_per_Unit). We want to calculate the Total Revenue, Discounted Revenue, and Profit Margin after deducting the cost per unit.

In [2]:
sales_data = pd.DataFrame({
    'Product': ['Laptop', 'Phone', 'Tablet'],
    'Units_Sold': [100, 200, 150],
    'Price_per_Unit': [1200, 800, 500],
    'Cost_per_Unit': [900, 500, 300]
})

In [3]:
sales_data

  Product  Units_Sold  Price_per_Unit  Cost_per_Unit
0  Laptop         100            1200            900
1   Phone         200             800            500
2  Tablet         150             500            300

In [4]:
sales_data['Revenue'] = sales_data['Units_Sold'] * sales_data['Price_per_Unit']

In [5]:
sales_data['Profit'] = sales_data['Units_Sold'].mul(sales_data['Price_per_Unit'].sub(sales_data['Cost_per_Unit']))

In [6]:
sales_data['Profit_Margin'] = sales_data['Profit']/sales_data['Revenue']

In [7]:
sales_data

,Product,Units_Sold,Price_per_Unit,Cost_per_Unit,Revenue,Profit,Profit_Margin
0,Laptop,100,1200,900,120000,30000,0.250
1,Phone,200,800,500,160000,60000,0.375
2,Tablet,150,500,300,75000,30000,0.400

In [8]:
print(f'The total revenue is: {sales_data['Revenue'].sum()}')
print(f'The total profit is: {sales_data['Profit'].sum()}')

SyntaxError: f-string: unmatched '[' (18352743.py, line 1)

A company wants to increase employee salaries by 5% if their salary is below $50,000 and by 3% otherwise.

In [ ]:
salary_data = pd.DataFrame({
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Current_Salary': [45000, 60000, 52000, 48000]
})

In [ ]:
salary_data

In [ ]:
salary_data['New_Salary'] = salary_data['Current_Salary'] * (salary_data['Current_Salary'].apply(lambda x : 1.05 if x < 50000 else 1.03))

In [ ]:
salary_data

Scenario:
A retail store has different products with current stock levels. If the stock is below a minimum threshold, we need to calculate the restock quantity required to reach a desired stock level.

In [ ]:
inventory = pd.DataFrame({
    'Product': ['TV', 'Fridge', 'Microwave', 'Washing Machine'],
    'Current_Stock': [10, 5, 20, 3],
    'Minimum_Stock': [15, 10, 20, 5],
    'Restock_Level': [25, 20, 30, 15]
})

In [ ]:
inventory

In [ ]:
# Calculate restock quantity (if needed)
inventory['Restock_Quantity'] = (inventory['Restock_Level'] - inventory['Current_Stock']).apply(lambda x: x if x > 0 else 0)

In [ ]:
inventory

Scenario:
A weather station records daily temperatures in Fahrenheit. We need to convert them to Celsius and calculate temperature anomalies (i.e., the difference from the average temperature).

In [ ]:
weather_data = pd.DataFrame({
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Temperature_F': [77, 88, 70, 95]  # Fahrenheit
})

In [ ]:
weather_data

In [ ]:
weather_data['Temperature_C'] = (weather_data['Temperature_F'] - 32) * 5/9

In [ ]:
weather_data

In [ ]:
weather_data['T_Anomalies'] = weather_data['Temperature_C'] - (weather_data['Temperature_C'].mean())

In [ ]:
weather_data

A school records student grades. We need to calculate their final percentage and determine pass/fail status.

In [ ]:
grades = pd.DataFrame({
    'Student': ['Emma', 'John', 'Lily', 'Michael'],
    'Math': [85, 78, 92, 60],
    'Science': [90, 75, 88, 70],
    'English': [88, 82, 80, 65]
})

In [ ]:
grades

In [ ]:
grades['Average'] = (grades[['Math', 'Science', 'English']]).mean(axis = 'columns')

In [ ]:
grades

In [ ]:
grades['Status'] = grades['Average'].apply(lambda mark: 'Pass' if mark > 70 else 'Fail')

In [ ]:
grades