#### Q. Get all items between 5 and 10 from a.

Input:

    a = np.array([2, 6, 1, 9, 10, 3, 27])   
Desired Output:

    (array([6, 9, 10]),)

In [3]:
import numpy as np

In [17]:
a = np.array([2, 6, 1, 9, 10, 3, 27])
condition = (a >= 5) & (a <= 10)
a[condition]

array([ 6,  9, 10])